@using HW59_Instigram_April30
@using ClassLibrary2
@model IEnumerable<Image>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row" style="margin-top: 60px; margin-left: 60px;">
        @foreach (Image image in Model)
        {
            <div class="row product ">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h2 href="/home/viewimage?id=@image.Id"> @image.Title</h2>
                    <div class="thumbnail">
                        <img src="/UploadedFiles/@image.FileName" alt="" href="/home/viewimage?id=@image.Id">
                        <div class="caption">
                        </div>
                        <h4 class="pull-right">@image.Like </h4>
                    </div>
                </div>
            </div>
            <br />
        }

    </div>
</div>